hr.tempo-meta-delimiter {
  height: 3px;
  width: 80px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background-color: #36d678;
}
article.tempo-article.classic div.tempo-meta.bottom div.tempo-terms {
  text-align: initial;
  margin: 0px -4px;
}
article.tempo-article.classic div.tempo-meta.bottom div.tempo-terms a {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  color: #8a95a6;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 4px 20px;
}
article.tempo-article.classic div.tempo-meta.bottom div.tempo-terms a:hover {
  background-color: #fafafa;
  border-color: #fafafa;
  color: #1c2633;
}
article.tempo-article.classic div.tempo-comments-wrapper,
article.tempo-article.classic div.tempo-comments-wrapper + div.comments-list-collapse {
  margin-top: 30px;
}
@media (max-width: 991px) {
  article.tempo-article.classic div.tempo-comments-wrapper,
  article.tempo-article.classic div.tempo-comments-wrapper + div.comments-list-collapse {
    margin-top: 26px;
  }
}
@media (max-width: 767px) {
  article.tempo-article.classic div.tempo-comments-wrapper,
  article.tempo-article.classic div.tempo-comments-wrapper + div.comments-list-collapse {
    margin-top: 20px;
  }
}
@media (max-width: 520px) {
  article.tempo-article.classic div.tempo-comments-wrapper,
  article.tempo-article.classic div.tempo-comments-wrapper + div.comments-list-collapse {
    margin-top: 15px;
  }
}
